@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap');



.playwrite-au-sa-header {
  font-family: "Playwrite AU SA", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}